* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 9vh;
    background-color: lightseagreen;
}

.logo {
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 18px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
    background-color: red;
}